
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(/static/media/background.jpg);
  background-attachment: fixed;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  margin: 0;
  padding: 0 0 30px;
  overflow: scroll;
}

.flexCenter{
  text-align: center;
  height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.boxShadow{
  text-shadow: 2px 2px 5px #34302f;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.textShadow{
  color: white;
  text-shadow: 2px 2px 5px #34302f;
  margin-bottom: 15px;

}

.card-transparent{
  font-size: 18px;
  background-color: rgba(1,1,1,.3);
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 20px;

}
.card-transparent-list{
  font-size: 18px;
  background-color: rgba(1,1,1,.3);
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-transparent  input {
  /* border-radius: 25px; */
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.card-transparent  button {
  /* border-radius: 25px; */
  text-shadow: 2px 2px 5px #34302f;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
